# Big matrixs
**.mtx
**matrix.ec

# Big files
**.bus
**.fastq
**.Rdata
**.rds
**.bam
**.sam
**.snap

# Big tables
**barcodes.txt
**genes.txt

# Other outputs
**.json
**transcripts.txt

# Snakemake
**.snakemake*

# Plotly files
**.js
**.map
**plotly*
